body{
    background-color:white;
}
header{
display: flex;
justify-content:space-around;
align-items: center;
background-color: black;
height:100px;
}
h1{
color: white;
padding:5px;

}

ul{
display: flex;
list-style-type: none;
}
li a{
text-decoration: none;
color:white;
padding:10px;
font-weight:500;

}
.content{
 margin:50px;
}
 label,input{
 margin: 5px;
 font-size: larger;
}
input{
 width: 100%;
 padding: 5px;
 border-radius:10px;
 box-shadow: 2px 2px 2px skyblue;
 }

/* CONTACT LIST */



button a {
    text-decoration: none;
    color: black;
}
table{
    border:2px solid black;
    width:100%;
    margin-left:2px;
}
th{
    background-color: black;
    color:white;
    padding:10px;
    font-size:20px;
}
td{
    background-color: grey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    padding:10px;
}